@model ProductModel
@{
    ViewData["Title"] = "CreateProduct";
}

<h1>CreateProduct</h1>
<hr />
<script>
    $(document).ready(function(){
        $("#fileImage").change(function(e){
            $("#previewImage").show()
            $("#previewImage").attr('src',URL.createObjectURL(e.target.files[0]));

        })
    })
</script>

<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-controller="Admin" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Product Name</label>
                <div class="col-md-10">
                    @*<input type="text" name="Name" value="" class="form-control" /> *@
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 form-group-row">
                <label asp-for="Images" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <img src="" width="80" id="previewImage" />
                    <input type="file" name="files" class="form-control" multiple id="fileImage" />
                </div>
            </div>
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <textarea id="editor" asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Price</label>
                <div class="col-md-10">
                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group-row">
               
                <div class="col-md-10">
                    <input type="submit" value="Save Product" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

